---
import "../styles/global.css";
import DarkModeToggle from "@/components/darkModeToggle";
import Navbar from "@/components/navbar.astro";

const { frontmatter } = Astro.props;
---

<script>
  let darkMode = localStorage.getItem("dark");

  if (darkMode == null) {
    localStorage.setItem("dark", "false");
    darkMode = "false";
  }

  let bodyElement = document.getElementsByTagName("body");

  if (darkMode?.toLowerCase() === "true") {
    bodyElement[0].classList.add("dark");
  } else {
    bodyElement[0].classList.remove("dark");
  }

  console.log(darkMode);
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>

  <body class="flex flex-col items-center">
    <Navbar>
      <DarkModeToggle client:only />
    </Navbar>
    <main class="max-w-4xl p-9 w-full">
      <header class="flex flex-col gap-2">
        <h1 class="text-4xl font-normal">{frontmatter.title}</h1>
        <div
          class="flex flex-col items-start md:flex-row text-lg md:items-center gap-2 dark:text-neutral-400 text-neutral-500 font-light"
        >
          <p>
            {frontmatter.description}
          </p>
          <span class="hidden md:inline">·</span>
          <time class="italic text-sm">{frontmatter.date}</time>
        </div>
      </header>
      <div
        class="dark:prose-ul:prose-code:bg-neutral-700 prose-ul:prose-code:bg-neutral-200 dark:prose-p:prose-code:bg-neutral-700
       prose-p:prose-code:text-sm prose-p:prose-code:bg-neutral-200 prose-pre:p-4 prose-pre:border prose-pre:rounded prose-ul:list-disc prose-ul:ml-6 prose-li:list-item prose-li:my-2 prose-hr:my-4 prose-headings:text-xl prose-headings:font-semibold mt-3 prose-p:font-light prose-p:leading-8 prose-p:py-4 prose-p:text-lg dark:prose-table:prose-th:bg-neutral-900 prose-table:prose-th:bg-neutral-200 prose-table:prose-th:px-4 prose-table:prose-th:py-1 prose-table:prose-th:border prose-table:prose-th:text-sm prose-table:prose-td:px-4 prose-table:prose-td:py-2 prose-table:prose-td:text-right prose-td:w-full prose-table:prose-td:border prose-table:prose-td:text-sm prose-table:block prose-table:w-full prose-table:overflow-x-auto prose-table:border-collapse md:prose-table:w-fit"
      >
        <slot />
      </div>
    </main>
  </body>
</html>
